*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
p {
    margin: 0;
    font-size: 0.875rem;
}
ol,
ul {
    list-style: none;
}

html,
body {
    width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #e9e9e9;
}
body > div {
    width: inherit;
    height: inherit !important;
}

.ant-menu-submenu-arrow {
    display: none !important;
}
